body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

#paymentForm {
    max-width: 400px;
    margin: auto;
}

        input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
        }
/*
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            margin: 8px 0;
            border: none;

        }
*/